
<body>

    
    <main>
        <div class="container">
            <section id="irpf">
                <div class="service-card">
                    <h2>Cálculo de Impuesto IRPF</h2>
                    <p class="price">Precio: <strong>19€</strong></p>
                    <p>Ofrecemos un servicio especializado en el cálculo del impuesto sobre la renta de las personas físicas (IRPF). Nuestro equipo se asegura de que todos los datos estén correctamente calculados y presentados.</p>
                    <a href="Contacto" class="btn">Contratar</a>
                </div>
            </section>
            
            <section id="sociedades">
                <div class="service-card">
                    <h2>Cálculo de Impuesto de Sociedades</h2>
                    <p class="price">Precio: <strong>59€ - 390€</strong></p>
                    <p>Realizamos un análisis exhaustivo y calculamos el impuesto de sociedades que tu empresa debe pagar, adaptándonos a las características y necesidades específicas de tu negocio.</p>
                    <a href="Contacto" class="btn">Contratar</a>
                </div>
            </section>
            
            <section id="autonomo">
                <div class="service-card">
                    <h2>Alta de Autónomo 046 </h2>
                    <p class="price">Precio: <strong>19€</strong></p>
                    <p>Te ayudamos a dar de alta tu actividad como autónomo. Gestionamos toda la documentación necesaria y te asesoramos en los primeros pasos para iniciar tu actividad económica.</p>
                    <a href="Contacto" class="btn">Contratar</a>
                </div>
            </section>
        </div>
    </main>

   
</body>
